{% extends "layouts/default.twig"  %}

{% block content %}
    <div class="wrapper">
        <h1 class="title">Slimmer</h1>
        <span class="environment">Currently loaded environment: <strong class="name">{{ environment }}</strong></span>
    </div>
{% endblock %}
