/**
 * Layout related stuff (breakpoints etc.)
 *
 * @author Miša Brežanac <brezanac@gmail.com>
 */

.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 96vh 4vh;
    align-items: center;
    justify-items: center;
}

