/**
 * Declaration of app-wide SCSS variables and maps.
 *
 * @author Miša Brežanac <brezanac@gmail.com>
 */

/*
* The list of colors used throughout the app.
*/
$colors: (
    primary: #0269A4,
    secondary: #FFF,
    tertiary: #FFE160
);

/**
 * Default values for certain attributes.
 */
$defaults: (

);
